.hero-brand-container{
    display: flex;
    align-items: center;
}

.hero-brand-item{
    display: inline-flex;
}

.hero-brand-text{
    margin-left: 1.5rem !important;
    text-transform: uppercase !important;
    font-family: 'Roboto Slab' serif !important;
    font-weight: 600 !important;
    color: #a7a4a4 !important;
}