
.center-con {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.round {
    position: relative;
    /* border: 3px solid #fff; */
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
}

.round span {
    z-index: 999;
    height: 3px;
    margin:1px;
    width: 30px;
    background: #fff;
    transition: 0.4s ease;
}

.round span:first-child {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 20%;
    bottom: 35%;
}

.round span:nth-child(2) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 35%;
}

.round span:nth-child(3) {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    left: 20%;
    bottom: 54%;
}

.round span:nth-child(4) {
    display: block;
    position: absolute;
    transform: rotate(-45deg);
    left: 45%;
    bottom: 54%;
}

.round:hover span:nth-child(1) {
    transform: rotate(-135deg);
}

.round:hover span:nth-child(2) {
    transform: rotate(135deg);
}

.round:hover span:nth-child(3) {
    transform: rotate(225deg);
}

.round:hover span:nth-child(4) {
    transform: rotate(-225deg);
}